@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-style: normal;

}
ul {
    padding:0;
    margin: 0;
}

.g_screen_view .g_left {
    width: 58%;
    text-align: center;
    padding-left: 140px;
}

.g_screen_view .g_left li {
    list-style: none;
    display:flex; 
    align-items: center;
    
}

.g_screen_view .g_left a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.g_screen_view .g_left a i {
    font-size: 10px;
}

/* Service logo  */

.g_services {
    width: 35%;
    margin: 40px auto;
    cursor: pointer;
}

.g_services .g_box h6 {
    margin-top: 6px;
    color: white;
    font-size: 13px;
}

.g_services .g_icon {
    background: rgb(74, 31, 158) !important;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* services car,bike,travel,life,etc */

.g_banner_common .g_left_img {
    width: 25% ;
    height: 100% ;


}

.g_banner_common .g_center_form_box {
    width: 35%;

}

.g_banner_common .g_center_form{
    border-radius: 15px;
    height: fit-content;
    animation: bannerForm 0.8s forwards;  
}
 @keyframes bbannerForman {
    0%
    {
        opacity: 0;
        transform: translateY(50px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0s);
    }
    
 }
   
.g_banner_common .g_center_form .g_icon {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.g_services .g_icon.active {
    background: white !important;
    color: #000 !important;
}

.g_banner_common .g_center_form h6 {
    font-size: 15px;
    margin: 0;
    line-height: 20px;
}

.g_banner_common .g_center_form button:hover {
    background: none;
    color: inherit;
}

.g_banner_common .g_center_form .g_input_box {
    border-radius: 15px;
    margin-top: 20px;
}

.g_banner_common .g_center_form .g_input_box input {
    border: none;
    outline: none;
}

.g_banner_common .g_center_form .g_input_box button {
    padding: 10px 30px;
}

.g_banner_common .g_right_img {
    width: 25% ;
    height: 100% ;
}


.g_health_service_banner .g_text_gradient {
    background: -webkit-linear-gradient(92.88deg, rgb(255, 107, 107) 5.34%, rgb(89, 32, 197) 84.32%) text;
    -webkit-text-fill-color: transparent;
}

/* video section */

.g_video_container{
    width: 70%;
    margin: auto;
}

.g_video_section .g_video_box
{
    width: 100%;
    height: 350px;

    margin-bottom: 10px;
    padding: 5px 0px;
}
.g_video_section .g_video_box video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}

/* video section list */

.g_video_section .g_thumbnail_video
{
    width: 100%;
    height: 100%;
}

.g_video_section .g_thumbnail_video video{
    width: 100%;
    border-radius: 10px;   
}


.g_video_section h6
{
    line-height: 25px;
    
}
.g_video_section span
{
    font-weight: 200 !important;
}

.g_video_list {
    max-height: 380px;
    overflow-y: auto;
}

.g_video_list::-webkit-scrollbar-thumb {
    background-color: white !important;
    width: 5px;
    border-radius: 10px;
}

.g_video_list::-webkit-scrollbar-track {
    background-color: #0E0C23 !important;
    width: 5px;
    border-radius: 10px;
}

.g_video_list::-webkit-scrollbar {
    background-color: #0E0C23 !important;
    width: 5px;
    border-radius: 10px;
}

.g_video_list h6 {
    font-size: 14px;
}


/*----------------------------- official partner------------------------------ */
.g_offical_partner  .g_border_img img
{
    width: 100%;
    height: 170px;
    padding: 10px;
    border: 1px solid #dde2f3d7;
   border-radius: 15px;

}
.g_offical_partner img{
    width: 100%;
    height: 100%;
}

/*---------------------------------RAting images box ------*/

.g_reting_box .g_rating_img{
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

.g_reting_box .g_rating_img img
{
    width: 100%;
    height: 100%;
  border: 2px solid rgba(253, 245, 245, 0.815);
  object-fit: cover;
  border-radius: 50%;
}

.g_reting_box .avtar_content h6
{
    margin: 0;
    font-weight: 700;
    line-height: 0;
    font-size: 14px;
    margin-top: 9px;
}

.g_reting_box .avtar_content small
{
    font-size: 10px;
    line-height: 0;
}

/*---------------------------------------App Section-------------------------------------------------*/

.g_app_Wrapper .g_app_container
{
    width: 50%;
    margin: auto;
    display:  flex !important;
    justify-content: center;
    flex-wrap: wrap !important;

}

.g_app_container .g_app_img
{
    width: 12%;
    height: 50px;
    margin-top: 40px;
}

.g_app_Wrapper .g_app_container .g_app_img img
{
    width: 100%;
    height: 100%;

}

/*----------------------------------------------------------Download Section_________________________________------*/
.g_download_section{
    width: 100%;
    padding-top: 45px !important;
    border: 2px solid rgba(253, 245, 245, 0.815);
    /* background-color: aqua; */
}
.g_download_section ul{
    list-style: none;
    display: flex;
    gap: 5px;
}
.a_download_section a {
    text-decoration: none;
}

.g_download_section p {
    font-size: 13px;
    font-weight: 400;
}

.g_download_section .g_social_icon {
    width: 35px;
    height: 35px;
    background: #F0F0F6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
}

/*------------------------Footer Text----------------------------------*/

.g_footer_text p
{
    padding-top: 18px;
    font-size: 11px ;
}
.g_footer_text_bottom p{
    font-size: 12px;

}