@media screen and (min-width:768px) {
    .g_header_full_screen  {
        display: flex !important;
    }
    
    .g_header_small_screen{
            display: none ;
        }
    }
    /* .g_acko_mannage_size{
        width: 100% !important;
        height: fit-content !important;

    }
    .g_banner_common{
        width: 100% !important;

    } */
